
body {
    background-color: #3498db;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 500px;
    width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour les écrans plus petits */
@media screen and (max-width: 600px) {
    body{
        margin: 15px;
    }
    .container {
        width: 90%; /* Ajustez la largeur en fonction de vos besoins */
    }

    #taskInput {
        width: 100%; /* Pour occuper la largeur de l'écran */
        margin-right: 0;
        margin-bottom: 10px;
    }

    #addTaskButton, #clearTasksButton {
        width: 100%; /* Pour occuper la largeur de l'écran */
    }
}

h1, p {
    color: #f8f3f3;
}

p {
    font-size: 20px;
}

#taskInput {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%; /* Ajustez la largeur en fonction de vos besoins */
}

#addTaskButton, #clearTasksButton {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
}

#addTaskButton:hover, #clearTasksButton:hover {
    background-color: #27ae60;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.task-text {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #7f8c8d;
}

button {
    cursor: pointer;
    background-color: transparent;
}
