
body {
    background-color: #3498db; /* Couleur bleue pour le fond du body */
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 , p{
    color: #f8f3f3;
}
p{
    font-size: 20px;
}

.container {
    height: 500px;
    width: 700px;
    background-color: #fff; /* Couleur de fond de la boîte contenant les éléments */
    padding: 20px;
    border-radius: 20px; /* Coins arrondis pour un aspect plus doux */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Effet de box shadow */
}

#taskInput {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addTaskButton, #clearTasksButton {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2ecc71; /* Couleur verte pour les boutons */
    color: #fff; /* Couleur du texte des boutons */
}

#addTaskButton:hover, #clearTasksButton:hover {
    background-color: #27ae60; /* Couleur de survol des boutons */
}

ul {
    list-style-type: none;
    padding: 0;
}

.task-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.task-text {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #7f8c8d; /* Couleur gris pour les tâches terminées */
}

button {
    cursor: pointer;
    background-color: transparent;
}
